# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.agents
.claude
.doc prepare
.vscode
Adjudtment Update Bug Fixing/
Migrasi Supabase by claude/
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.vercel
